.album
  
  padding-bottom 200px

  &-cover-art 
    position relative
    margin-top 1rem
    margin-left 20%
    width 60%

  &-view-details 
    position relative
    top 1.5rem
    padding 1rem

  &-view-details &-view-title 
    font-weight 300
    font-size 2rem

  &-view-details   &-view-artist 
    font-weight 300
    font-size 1.5rem

  &-view-details   &-view-release-info 
    font-weight 300
    font-size 0.75rem

  &-view-song-list 
    width 90%
    margin 1.5rem auto
    font-weight 300
    font-size 0.75em
    border-collapse collapse

/* Medium size */
@media (max-width 640px) and (min-width 320px) 
  .album-view-details 
    text-align center
  
  
  .album-view-title 
    margin-top 0
  


/* Large size */
@media (max-width 1024px) and (min-width 320px) 
  .album-view-song-list 
    position relative
    top 1rem
    width 80%
    margin auto
  
