.landing {
  background-image: url(../images/blurred_backgrounds/blur_bg_1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-content {
  position: relative;
  min-height: 600px;
  background-image: url(../images/bloc_jams_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  transition: all 0.5s ease-in-out;
}

.hero-content:hover {
  filter: grayscale(0%);

  transition: all 0.5s ease-in-out;
}

.hero-title {
  letter-spacing: 0;
}

.hero-content .hero-title {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 4em;
  font-weight: 300;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgb(58, 23, 63);
}

.selling-points {
  position: relative;
  background-color: hsla(0, 0, 0, 0.3);
}

.point {
  position: relative;
  padding: 2rem;
  
  text-align: center;
}

.point .point-title {
  font-size: 1.25rem;
}

.ion-music-note,
.ion-radio-waves,
.ion-iphone {
  color: rgb(233, 50, 177);
  font-size: 5rem;
}