.control-row
  width 80%
  height 130px
  position relative
  margin auto
  display flex
  justify-content space-between
  align-items center

.player-bar 
  position fixed
  bottom 0
  left 0
  right 0
  height 160px
  background-color rgba(255, 255, 255, 0.3)
  z-index 100
  
  .main-controls
    width 25%
    text-align left
    padding-right 1rem
    
    .previous 
      margin-right 16.5%
    
    .play-pause 
      margin-right 15%
      font-size 1.6rem

    div
      display inline-block
      font-size 1.1rem
      vertical-align middle
    div, div:hover
      color white
      cursor pointer
      text-decoration none
  
  .volume 
    width 25%
    text-align right
    
    .icon 
      font-size 1.1rem
      display inline-block
      vertical-align middle
      margin-right 0.5rem
      background-color rgba(255, 255, 255, 0)
      border-radius 50%
      transition background-color 0.2s
      padding 10px
      &:hover
        background-color rgb(107, 45, 107)
        cursor pointer
    
    .seek-bar 
      display inline-block
      width 5.75rem
      vertical-align middle
      
.currently-playing 
  width 50%
  height 100%
  display flex
  flex-direction column
  justify-content space-around
  position relative

.song-name,
.artist-name,
.artist-song-mobile
  display inline-block
  position relative
  text-align center
  color white
  font-size 1.2rem
  margin 0 auto
  font-weight 300

.artist-song-mobile 
  font-size 1rem
  display none

.seek-control 
  position relative
  font-size 0.8rem
  
  .current-time 
    position absolute
    top 0.5rem

  .total-time 
    position absolute
    right 0
    top 0.5rem


.seek-bar 
  height 0.25rem
  background-color rgba(255, 255, 255, 0.3)
  border-radius 2px
  position relative
  cursor pointer

  .thumb 
    position absolute
    height 0.5rem
    width 0.5rem
    background-color white
    left 0
    top 50%
    margin-left -0.25rem
    margin-top -0.25rem
    border-radius 50%
    cursor pointer
    transition width 0.2s, height 0.2s, margin-top 0.2s, margin-left 0.2s

  .fill 
    background-color white
    width 0
    height 0.25rem
    border-radius 2px


  &:hover .thumb 
    width 1.1rem
    height 1.1rem
    margin-top -0.5rem
    margin-left -0.5rem

@media (max-width 640px) 
  .player-bar 
    padding 1rem
    background-color rgba(0, 0, 0, 0.6)
  
  .control-row
    flex-direction column
    justify-content space-around
  
  .player-bar .main-controls,
  .player-bar .volume
    width 100%
    min-height 3.5rem
    display flex
    justify-content center
    align-items center
  
  .player-bar .currently-playing 
    min-height 2.5rem
    width 90%
  
  .player-bar .artist-name,
  .player-bar .song-name 
    display none
  
  .player-bar .currently-playing .artist-song-mobile
    display block
  
